* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   text-align: center;
   background: url('https://miro.medium.com/max/800/1*8du96SQUQ0NlWmWvVu20Zw.png');
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   color: navy;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.choices {
   font-size: 1.6rem;
}

#user-choice,
#computer-choice {
   font-size: 3rem;
   padding-right: 1.5rem;
}


h2:nth-child(3) {
   color: navy;
   font-size: 2rem;
   margin-top: 100px;
}

.btns {
   display: flex;
   flex-direction: row;
}

button {
   padding: 1rem;
   background-color: navy;
   color: yellow;
   font-size: 1.5rem;
   font-weight: bold;
   border: none;
   border-radius: 15px;
   margin: 1rem;
   transition: all 0.4s ease;
}

button:hover {
   background-color: cyan;
   color: white;
}

h2 {
   margin-bottom: 0.7rem;
}